header {
  background-image: url("/src/assets/images/home-bg.png");
  text-align: center;
  padding: 20px 0 50px 0;
}

header .bg-cover {
  background: rgba(0, 0, 0, 0.7);
}

header h2.logo {
  font-size: 75px;
  font-family: "Angeline Vintage";
  color: #ffffff;
  padding-bottom:2rem ;
  transition: color 0.5s ease-out ;
}

header h2.logo:hover{
  color: #f57a08;
}

header .nav-fill {
  max-width: 250px;
}

header .nav-fill a {
  color: #ffffff;
}

header .nav-fill li:hover a {
  color: #f57a08;
}

header .bar1,
header .bar2,
header .bar3 {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
  display: block;
  position: relative;
}
header .change .bar1 {
  transform: rotate(-42deg) translate(-2px, 6px);
}

header .change .bar2 {
  opacity: 0;
}

header .change .bar3 {
  transform: rotate(46deg) translate(-4px, -8px);
}

header .navbar li.nav-item button.nav-link {
  font-family: "Montserrat-Bold";
  color: #ffffff;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  display: inline-block;
}

header .navbar li.nav-item button.nav-link.active {
  color: #f57a08;
}
.nav-search {
  max-width: 600px;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  height: auto;
}
