@font-face {
  font-family: "Angeline Vintage";
  font-style: normal;
  font-weight: normal;
  src: local("Angeline Vintage"),
    url("./assets/fonts/Angeline_Vintage_Demo.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto-Regular";
  font-size: 16px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

.container-fluid {
  padding: 0;
}

.card {
  border: none;
  border-radius: 0;
}

.card img {
  border-radius: 0;
}
